.about {
  background-color: #212121;
  border-radius: 15px;
  padding: 30px 28px;
  margin-bottom: 84px;
}

.intro {
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.avatar {
  background-image: url(../avatar.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 120px;
  margin-right: 30px;
  width: 120px;
}

.name {
  flex-grow: 1;
}

.name p {
  font-size: 24px;
}

.name p + p {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 12px;
}

.contact {
  background-color: #383838;
  border-radius: 15px;
  height: 120px;
  padding: 10px;
  width: 68px;
}

.contact .image {
  align-items: center;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.contact .divider {
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  height: 1px;
  margin: 4px 0;
}