footer {
  align-items: center;
  background-color: #212121;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  height: 70px;
  justify-content: center;
}

footer p {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 480px) {
  footer {
    height: 40px;
  }

  footer p {
    font-size: 14px;
  }
}