.project-list {
  display: flex;
  flex-wrap: wrap;
}

.projects {
  margin-bottom: 42px;
}

.card {
  background-color: #212121;
  border-radius: 15px;
  flex: 1 0 calc(50% - 30px);
  margin: 15px 0;
  padding: 24px 20px;
}

.card.even {
  margin-right: 15px;
}

.card.odd {
  margin-left: 15px;
}

.card-title {
  font-size: 20px;
}

.card-description {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 14px;
  margin-top: 8px;
  min-height: 150px;
  opacity: 1;
  padding: 14px 0;
}

@media (max-width: 640px) {
  .projects {
    max-width: 480px;
    margin: 0 auto 42px;
  }

  .section-title {
    font-size: 22px;
  }

  .card {
    flex: 1 0 100%;
    margin: 7px 0;
    padding: 16px 12px;
  }

  .card-description {
    min-height: 80px;
  }

  .card.odd,
  .card.even {
    margin-right: 0;
    margin-left: 0;
  }

  .card h4 {
    font-size: 16px;
  }

  .card p {
    font-size: 14px;
  }

  .card a {
    font-size: 14px;
  }
}