* {
  box-sizing: border-box; }

body {
  font-family: 'Questrial', sans-serif;
  margin: 0; }

article {
  margin: 0 auto;
  max-width: 1100px;
  padding: 40px 20px;
  text-align: center; }
  @media (max-width: 640px) {
    article {
      margin: 0;
      padding: 20px; } }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    line-height: 1.9rem; }

h1,
h2,
p {
  line-height: 1.8rem;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

header {
  -ms-flex-pack: center;
  -ms-flex-pack: justify;
  background-color: #474747;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  justify-content: center; }

.introduction article {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column; }
  .introduction article .avatar {
    background-image: url("../assets/images/avatar.jpg");
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    height: 170px;
    width: 170px; }
    .introduction article .avatar + p {
      margin: 20px 0; }
  .introduction article p {
    line-height: 1.2rem;
    max-width: 50%; }
    @media (max-width: 640px) {
      .introduction article p {
        max-width: 90%; } }

.skills {
  background-color: #474747;
  color: #fff; }
  @media (max-width: 740px) {
    .skills article {
      padding: 10px;
      text-align: left; } }
  .skills h2 {
    width: 100%; }
  .skills ul {
    -moz-column-count: 3;
    column-count: 3;
    margin-top: 20px; }
    .skills ul li.sub-header {
      background-color: #fff;
      color: #474747;
      font-size: 18px;
      letter-spacing: .05em; }
    @media (max-width: 740px) {
      .skills ul {
        -moz-column-count: 1;
        column-count: 1; }
        .skills ul li.sub-header {
          margin-top: 20px; }
        .skills ul li:first-child {
          margin-top: 0; } }

.contacts ul {
  text-align: center; }

@media (max-width: 740px) {
  .contacts article {
    padding: 10px; } }
