* {
  box-sizing: border-box;
}

body {
  background-color: #171717;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
p,
ul,
h4,
h5,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #ff5e5e;
  transition: .3s color ease-in-out;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 94, 94, .68);
}

p {
  opacity: .8;
}

main {
  max-width: 580px;
  margin: 80px auto 50px;
}