* {
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  margin: 0;
}

article {
  margin: 0 auto;
  max-width: 1100px;
  padding: 40px 20px;
  text-align: center;

  @media (max-width: 640px) {
    margin: 0;
    padding: 20px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    line-height: 1.9rem;
  }
}

h1,
h2,
p {
  line-height: 1.8rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.github-area {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 0 80px 80px 0;
  position: fixed;
  right: 0;
  top: 0;

  @media (max-width: 640px) { display: none; }
}

.github-icon {
  background-image: url('../assets/images/GitHub-Mark-64px.png');
  background-position: center;
  background-size: cover;
  height: 32px;
  opacity: .78;
  position: fixed;
  right: 8px;
  top: 8px;
  transition: opacity .3s ease-in-out;
  width: 32px;
  will-change: opacity;
  z-index: 2;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  @media (max-width: 640px) { display: none; }
}

header {
  -ms-flex-pack: center;
  -ms-flex-pack: justify;
  background-color: #474747;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

.introduction article {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  .avatar {
    background-image: url('../assets/images/avatar.jpg');
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    height: 170px;
    width: 170px;

    + p {
      margin: 20px 0;
    }
  }

  p {
    line-height: 1.2rem;
    max-width: 50%;

    @media (max-width: 640px) {
      max-width: 90%;
    }
  }
}

.skills {
  background-color: #474747;
  color: #fff;

  article {
    @media (max-width: 740px) {
      padding: 10px;
      text-align: left;
    }
  }

  h2 {
    width: 100%;
  }

  ul {
    -moz-column-count: 3;
    column-count: 3;
    margin-top: 20px;

    li.sub-header {
      background-color: #fff;
      color: #474747;
      font-size: 18px;
      letter-spacing: .05em;
    }

    @media (max-width: 740px) {
      -moz-column-count: 1;
      column-count: 1;

      li.sub-header {
        margin-top: 20px;
      }

      li:first-child {
        margin-top: 0;
      }
    }
  }
}

.contacts {
  ul {
    text-align: center;
  }

  @media (max-width: 740px) {
    article {
      padding: 10px;
    }
  }
}
