* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
p, {
  font-family: 'Questrial', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 20px 0;
}

// Hex: 333D51 / D3AC2B / CBD0D8 / F4F3EA / A3C6C4